.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  color: white;
  background-color: red;
}
body .header-chat {
  background-color: #393E46;
}
body .header-chat div {
  padding: 7px;
  position: relative;
  display: flex;
  flex-direction: row;
}
body .header-chat div div:first-child {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
}
body .header-chat div div:nth-child(2) img {
  max-width: 40px;
  margin-left: 15px;
}
body .header-chat div:first-child div:nth-child(2) button, 
body .header-chat div:nth-child(2) div:nth-child(2) button{
  background-color: transparent;
  border: none;
}
body .container-chats {
  height: 88vh;
}
body .container-chats .chat-list {
  background-color: #222831;
  padding-top: 15px;
}
body .container-chats .chat-list div {
  background-color: #393E46;
}
body .container-chats .chat-list div:hover {
  background-color: #5E636A;
}
body .container-chats .chat-list .chat {
  height: 62px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
  padding-left: 15px;
}
body .messages {
  background-image: url("Back-Chat.svg");
  background-repeat: repeat;
}
body .messages .footer-container footer {
  background-color: black;
  position: absolute;
  bottom: 1vh;
  max-width: 55%;
}
body .messages .footer-container footer img {
  max-width: 35px;
}
body .messages .footer-container footer input {
  background-color: #393E46;
  border: none;
  border-bottom: 10px solid #222831;
  width: 100%;
}
body .messages .footer-container footer input:focus {
  outline: 0;
}
body .messages .footer-container footer div div div {
  padding: 5px;
}
body .messages .chat-messages {
  position: relative;
  max-height: 78vh;
  overflow: hidden;
  overflow-y: scroll;
}
body .messages .chat-messages .messageContainer .YourMessage {
  background-color: #393E46;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
body .messages .chat-messages .messageContainer .YourMessage span:first-child {
  text-align: left;
  font-size: 12px;
}
body .messages .chat-messages .messageContainer .YourMessage span:nth-child(3) {
  text-align: end;
  font-size: 12px;
}
body .messages .chat-messages .messageContainer .MyMessage {
  background-color: #00ADB5;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
body .messages .chat-messages .messageContainer .MyMessage span:nth-child(2) {
  text-align: end;
  font-size: 12px;
}
body #ContactsModal .Contacts {
  background-color: #393E46;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
}
body #ContactsModal .Contacts .Contact {
  opacity: 80%;
  width: 40%;
  background-color: #222831;
  color: #00ADB5;
  border: none;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  padding: 10px 0px;
  border-radius: 5px;
}
body #ContactsModal .Contacts .Contact:focus {
  outline: 0;
}
body #ContactsModal .Contacts .Contact:hover {
  opacity: 100%;
}
body #ContactsModal .modal-header {
  background-color: #222831;
}
body #ContactsModal .modal-footer {
  background-color: #222831;
}
body #myModal .modal-header,
body #myModal .modal-body{
  background-color: #222831;
}
.custom-select {
  position: relative;
  color: white;
  background-color: transparent;
  line-height: inherit;
  content: "";
  right: 6px;
  border: 1px solid transparent;
  border-color: transparent transparent transparent;
}
select option {
  background-color: #393E46;
  color: #ffffff;
  border: 1px solid transparent;
}
/*# sourceMappingURL=chats.css.map */
